@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
    transform:  scale(0.55%);
}
.bgimage{
    background-image: url('https://images.unsplash.com/photo-1471478108131-9b2335c21611?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjAwfHwxNiUyMCo5JTIwZm9vZCUyMGltYWdlc3xlbnwwfDB8MHx8fDI%3D&auto=format&fit=crop&w=600&q=60');
    object-fit: cover;
    background-repeat: no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  main{
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  /* bottom 3 css for fancy links */
  a {
    text-decoration :none;
  }
  
  .menu__link {
    color: #0f0f0f;
    line-height: 2;
    position: relative;
  }

  .menu__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #0f0f0f;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
  }
  
  .menu__link:hover::before {
    width: 100%;
  }